.Footer-container {
  position: relative;
}

.Footer-container > hr {
  border: 1px solid var(--lightgray);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  height: 15rem;
}

.social {
  display: flex;
  gap: 4rem;
}

.social img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.logo-f > img {
  width: 13rem;
}
.copyright {
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.copyright a {
  text-decoration: none;
  display: flex;
}
.term {
  color: white;
}
.copy {
  color: white;
}
.copy:hover {
  color: var(--orange);
}
.term:hover {
  color: var(--orange);
}
.pipe {
  color: white;
}
.pipe:hover {
  color: var(--orange);
}
